nav{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    padding-left: 190px;
    column-gap: 170px;
    /* width: 1000px; */
    height: 70px;
}
body, html{
    margin: 0;
}
.logo_img{
    position: absolute;
    right: 45%;
    width: 199px;
}
a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: 100;
}
.contact{
    position: absolute;
    right: 290px;

}
header{
    display: block;
    height: 848px;
    /* background: scroll; */
    background-image: url(/image/bg/image\ 1.png);
}

.header_name{
    position: absolute;
    top: 140px;
    right: 302px;
    font-size: 70px;
    color: white;
    font-weight: 10;
}
.header_text{
    position: absolute;
    top: 340px;
    left: 1060px;
    right: 200px;
    font-size: 24px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.header_button:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: white;
}
.header_button{
    position: absolute;
    right: 300px;
    top: 487px;
    cursor: pointer;
    width: 500px;
    height: 80px;
    background-color: white;
    border: 2px;
    font-size: 27px;
    transition: 0.2s;
    

}
.section1{
    height: 800px;
}
.section1_background_img{
    top: 80px;
    border: 2px solid #c6bbb8;
    width: 420px;
    height: 580px;
    overflow: hidden;
    position: relative;
    left: 240px;
}
.section1_shadow{
    background-color: #c6bbb8;
    width: 340px;
    height: 400px;
}
.women1{
    width: 320px;
    height: auto;
    position: absolute;
    top: 7%;
    left: 13%;
}
.section1_name{
    position: absolute;
    top: 1140px;
    left: 800px;
    font-size: 34px;
    font-weight: 70;
}
.section1_text{
    position: absolute;
    top: 1220px;
    left: 800px;
    right: 400px;
    font-size: 20px;
}
.section1_button:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    color: black;
}
.section1_button{
    color: white;
    background-color: black;
    position: absolute;
    right: 450px;
    top: 1450px;
    cursor: pointer;
    width: 300px;
    height: 50px;
    font-size: 20px;
    transition: 0.2s;

}
.section2{
    display: block;
    overflow: hidden;
    position: relative;
    height: 830px;
    /* background: scroll; */
    background-image: url(/image/bg/image\ 2.png);
}
.section2_background{
    background-color: white;
    height: 640px;
    width: 1000px;
    /* position: absolute; */
    overflow: hidden;
    position: relative;
    top: 17%;
    left: 7%;
}
.section2_name{
    font-size: 50px;
    left: 300px;
    font-weight: 70;
    position: absolute;
    top: 20px;
}
.section2_text{
    font-weight: 10;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    word-spacing: 3px;
    font-weight: 70;
    position: absolute;
    top: 140px;
    left: 70px;
    right: 100px; 
}
.section3{
    padding-top: 30px;
}
.section3_line{
    height: 1px;
    width: 100%;
    background-color: black;

}
.section3_name{
    text-align: center;
    font-size: 34px;
    font-weight: 70;
}
footer{
    display: flex;
    justify-content: center;
    column-gap: 900px;
    position: relative;
    top: 60px;
}
.footer_p{
    position: relative;
    top: -27px;
}
.container{
    display: flex;
    column-gap: 200px;
}
.footer_button1, .footer_button2, .footer_button3{
    position: relative;
    top: -21px;
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
@media (max-width: 576px) {
    .container{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .container{
        width: 540px;
    }
}
@media (max-width: 992px) {
    .container{
        width: 720px;
    }
}
@media (max-width: 1200px) {
    .container{
        width: 960px;
    }
}
@media (max-width: 1400px) {
    .container{
        width: 1140px;
    }
}
@media (min-width: 1401px) {
    .container{
        width: 1320px;
    }
}